<div class="container mt-5">
    <mat-card class="p-5">
        <form (ngSubmit)="addProduct()">
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Name</mat-label>
                <input type="text" matInput [(ngModel)]="product.name" name="name">
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-100 mt-3">
                <mat-label>Provider</mat-label>
                <input type="text" matInput [(ngModel)]="product.provider" name="provider">
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-100 mt-3">
                <mat-label>Specifications</mat-label>
                <input type="text" matInput [(ngModel)]="product.specifications" name="specifications">
            </mat-form-field>
            <mat-form-field class="w-100 mt-3">
                <mat-label>Category</mat-label>
                <mat-select [(ngModel)]="product.category" name="category">
                    <mat-option value="electronics">Electronics</mat-option>
                    <mat-option value="clothes">Clothing</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-100 mt-3">
                <mat-label>Price</mat-label>
                <input type="number" matInput [(ngModel)]="product.price" name="price">
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-100 mt-3">
                <mat-label>Points</mat-label>
                <input type="number" matInput [(ngModel)]="product.points" name="points" id="points">
            </mat-form-field>
            <button type="submit" mat-raised-button color="primary" class="w-100 mt-5">Submit</button>
        </form>
    </mat-card>
</div>
