<div class="container mt-5">
  <mat-grid-list cols="4" rowHeight="3:5" gutterSize="10">
    <mat-grid-tile *ngFor="let product of products">
      <div class="row p-5">
        <div class="mt-3">
          <h1><b>{{product.name}}</b></h1>
        </div>
        <div class="mt-3">
          <h2>{{product.category}}</h2>
        </div>
        <div class="mt-3 specifications-text">
          <p>{{product.specifications}}</p>
        </div>
        <div class="mt-3">
          <p>{{product.stock}} pieces</p>
        </div>
        <div class="mt-3" [ngClass]="product.discount ? 'text-decoration-line-through text-danger' : 'text-success'">
          <p class="fs-2">{{product.price}} RON</p>
        </div>
        <div class="mt-3 text-success" *ngIf="product.discount">
          <p class="fs-2">{{product.price * product.discount.value / 100 | number:'1.2-2'}} RON</p>
        </div>
        <div class="mt-3">
          <button *ngIf="isAdmin()" class="me-3" type="button" mat-raised-button color="warn" (click)="deleteProduct(product.id)">Delete</button>
          <button *ngIf="isClient()" type="button" mat-raised-button color="primary" (click)="openCartDialog(product)">Add to cart</button>
          <button *ngIf="isAdmin() && !product.discount" type="button" mat-raised-button color="primary" (click)="openDiscountDialog(product.id)">Add discount</button>
          <button *ngIf="isAdmin() && product.discount" type="button" mat-raised-button color="primary" (click)="removeDiscount(product.discount.id)">Remove Discount</button>
        </div>

      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
