mat-grid-tile{
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.home-page-product{
  max-width: 90%;
  max-height: 90%;
  height: 200px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.specifications-text{
  white-space: inherit;
  height: 40px;
  width: 288px;
  overflow: hidden;
  text-overflow: ellipsis;
}
