<mat-toolbar class="simple-toolbar" color="primary">
  <span>E-Commerce Application</span>
  <span class="toolbar-spacer"></span>
  <button *ngIf="!isLoggedIn()" mat-raised-button color="accent" routerLink="/login">Login</button>
  <button *ngIf="isLoggedIn()" mat-raised-button color="warn" (click)="logout()">Logout</button>
</mat-toolbar>
<mat-toolbar class="simple-toolbar" color="primary" *ngIf="isLoggedIn()">
  <div class="button-container">
    <button mat-fab color="basic" aria-label="Example icon button with a home icon" routerLink="">
      <mat-icon>home</mat-icon>
    </button>
  </div>
  <button *ngIf="isAdmin()" mat-raised-button color="primary" routerLink="/addProduct">Add New Product</button>
</mat-toolbar>
