<div class="container mt-5">
  <mat-card class="p-5">
    <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Username</mat-label>
        <input type="text" matInput ngModel name="username" id="username">
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>First Name</mat-label>
        <input type="text" matInput ngModel name="firstName" id="firstName">
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Last Name</mat-label>
        <input type="text" matInput ngModel name="lastName" id="lastName">
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Phone</mat-label>
        <input type="text" matInput ngModel name="number" id="number">
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Email</mat-label>
        <input type="text" matInput ngModel name="email" id="email">
      </mat-form-field>
      <mat-form-field appearance="fill" class="w-100 mt-3">
        <mat-label>Password</mat-label>
        <input type="password" matInput ngModel name="password" id="password">
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary" class="w-100 mt-5">Register</button>
    </form>
  </mat-card>

</div>
