<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Home</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <link rel ="stylesheet" href="/static/style.css">

    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="../static/js/index.js"></script>

        <div th:replace="navbar :: navbar">
        </div>

        <!-- Product Cards -->
        <div id="product-cards" class="d-flex justify-content-center mt-3 center">
        </div>

        <!-- Product Details Modal-->
        <div id="product-modal" class="modal" data-bs-backdrop="static" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="name-product"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mt-3">
                            <h5>Provider</h5>
                            <p class="ms-2" id="provider-product"></p>
                        </div>
                        <div class="mt-3">
                            <h5>Category</h5>
                            <p class="ms-2" id="category-product"></p>
                        </div>
                        <div class="mt-3">
                            <h5>Description</h5>
                            <p class="ms-2" id="specifications-product"></p>
                        </div>
                        <div class="mt-3">
                            <h5>Price</h5>
                            <p class="ms-2" id="price-product"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Cart item modal -->
        <div id="item-modal" class="modal" data-bs-backdrop="static" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Set quantity</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="input-quantity">Quantity</label>
                                <input type="number" class="form-control" id="input-quantity" required>
                                <div class="invalid-feedback">Insert a quantity</div>
                            </div>
                            <div class="form-group">
                                <input type="hidden" class="form-control" id="input-id" required>
                                <div class="invalid-feedback">Insert a quantity</div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="addItem()">Add to cart</button>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>